<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {{>header}}
    <h1>Welcome to projects site</h1>

    <p>Portfolio page here</p>
    {{>footer}}
  </body>
</html>
